<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycom.board.mapper.BoardMapper">

	<insert id="insertBoard" parameterType="board">
		INSERT INTO board(name, passwd, title, content)
		VALUES( #{name}, #{passwd}, #{title}, #{content})
	</insert>
	
	<select id="listBoard" parameterType="map" resultType="board">
		SELECT no, title, name, regdate, hit 
		FROM board 
		ORDER BY no DESC
		LIMIT #{begin}, #{size}
	</select>
	
	<select id="getBoard" parameterType="int" resultType="board">
		SELECT no, name, title, content, regdate, hit
		FROM board 
		WHERE no = ${no}
	</select>
	
	<update id="updateHit" parameterType="board">
		UPDATE board SET hit = hit+1 WHERE no = #{no}
	</update>
	
	<update id="updateBoard" parameterType="board">
		UPDATE board
		SET
			name=#{name},
			title=#{title},
			content=#{content},
			modifydate=now()
		WHERE no = #{no}
		AND passwd=#{passwd}
	</update>
	
	<delete id="deleteBoard" parameterType="board">
		DELETE FROM board WHERE no = #{no} AND passwd=#{passwd}
	</delete>
	
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM board
	</select>

</mapper>